<!--Finalización del menu de inicio con el fin de que sea parametrizable -->
{{#if nameUser}}
<li class="nav-item dropdown no-arrow imguser">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nameUser}}</span>
        <img class="img-profile rounded-circle" src="/img/66068.jpg" style="height: 60px;">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="/perfil">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Perfil
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/closeSession">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar Sesion
        </a>
    </div>
</li>
{{else}}
<li class="nav-item mx-0 mx-lg-1"><a href="/registro"><button type="button"
            class="btn btn-outline-secondary btn-nav">REGISTRATE</button></a></li>
<li class="nav-item mx-0 mx-lg-1"><a href="/login"><button type="button"
            class="btn btn-dark btn-nav btn-back">INGRESAR</button></button></a></li>
{{/if}}
</ul>
</div>
</div>
</nav>

<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion style" id="accordionSidebar">


                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Interface
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/perfil">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/pedidos">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Mis pedidos</span>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Favoritos</span>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/misdatos">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Mis datos</span>
                        </a>
                    </li>

                    {{#if admin}}

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Opciones de Administrador
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/admproducto">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Productos</span>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Banners</span>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    {{else}}

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    {{/if}}

                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

                </ul>
            </div>

            <div class="col-sm">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Mis Datos</h1>
                </div>
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <label style="margin-top: -25px;">Realice la actualización de sus datos personales.</label>
                </div>
                <div id="alerta" style="display: none;" class="alert alert-warning" role="alert">
                    alert-text
                </div>
                <div class="row">

                    <form class="form-style" id="form-data-user" action="" method="">
                        <div class="form-row">
                            <div class="col">
                                {{#each datauser}}
                                <label class="input-style">Nombre</label>
                                <input name="nombre" id="nombre" type="text" disabled class="form-control"
                                    placeholder="Nombre" value="{{nombres}}">
                            </div>
                            <div class="col">
                                <label class="input-style">Apellido</label>
                                <input name="apellido" id="apellido" type="text" disabled class="form-control"
                                    placeholder="Apellido" value="{{apellidos}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="input-style">Número documento</label>
                                <input name="numdoc" id="numdoc" type="text" disabled class="form-control"
                                    placeholder="Número de documento de identidad" value="{{numDocumento}}">
                            </div>
                            <div class="col">
                                <label class="input-style">Número celular</label>
                                <input name="celular" id="celular" type="text" disabled pattern="[0-9]{9}"
                                    class="form-control" placeholder="Número celular" value="{{numerotelefono}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="input-style">Correo</label>
                                <input name="correo" type="text" disabled class="form-control" placeholder="Correo"
                                    value="{{correo}}">
                            </div>
                            <div class="col">
                                <label class="input-style">Dirección</label>
                                <input name="direccion" id="direccion" type="text" disabled class="form-control"
                                    placeholder="Dirección" value="{{direccion}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="button-perfil" class="btn btn-primary"
                                onclick="actualizarDatos()">Editar datos</button>
                            <button type="button" id="button-cancelar" class="btn btn-secondary" style="display: none;"
                                onClick="location.reload();">Cancelar</button>
                            <button type="submit" id="button-guardar" class="btn btn-success"
                                style="display: none;">Guardar datos</button>
                            {{/each}}
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload= alertaUser();
</script>